<!DOCTYPE html>
<html>
<head>
  <title><%= @title%></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- ------------------------------------------------------------------ -->

<div id="wholepage">

 

   <div id="header">Welcome to SJU Online</div>


   <div id="nav">
   <%= link_to_unless_current "Login", {:action => "login"}  %>    |

   <%= link_to_unless_current "Register", {:action => "register"}  %> |

   <%= link_to_unless_current "Logout",   {:action => "logout" }%> 

 </div>

 <div id="content">
   <% if flash[:notice] %>
  <div id="notice"><%= flash[:notice] %></div>
  <% end %> 
  <%= yield %>
 </div>

 </div>

<!-- ------------------------------------------------------------------ -->
</body>
</html>